.topline
{
    width: 100%;
    height: 40px;
    background-color: #222;
}

.logo
{
    color: #DDD;
    font-size: 1rem;
    padding: 10px !important;
}

.menu
{
    margin-top: 10px;
}

.menu ul
{
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu ul li a
{
    float: left;
    text-decoration: none;
    color: #DDD;
    padding: 10px;
    margin-right: 5px;
    background-color: #222;
}

.menu ul li a:hover
{
    background-color: #27ae60;
}

.menu ul li .current-nav
{
    background-color: #27ae60;
}

.content
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-box
{
    padding: 0px !important;
    background-color: #222;
}

.logout
{
    background-color: #e74c3c !important;
}

.logout:hover
{
    opacity: 0.8;
}

table
{
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

th
{
    color: #DDD;
    background-color: #27ae60 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0px;
    padding: 10px;
}

tr:nth-child(odd)
{
    background-color: #111;
}

tr:nth-child(even)
{
    background-color: #222;
}

td
{
    color: #BBB;
    padding: 10px;
}

td:last-of-type
{
    text-align: right;
}

.btn.delete
{
    padding: 3px 10px 5px 10px;
    background-color: #e74c3c;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    border: 0px;
}

.btn.delete:hover
{
    background-color: #c0392b;
    border: 0px;
}

.btn.edit
{
    padding: 3px 7px 5px 10px;
    background-color: #3498db;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    border: 0px;
}

.btn.edit:hover
{
    background-color: #2980b9;
    border: 0px;
}
